parejas.core/src/test/resources/parejas/pruebas/persistencia/carga-total.dtd

<!ELEMENT dataset (
    departments*,
    dept_manager*,
    employees*,
    personas*)>

<!ELEMENT departments EMPTY>
<!ATTLIST departments
    dept_no CDATA #REQUIRED
    dept_name CDATA #REQUIRED
>

<!ELEMENT dept_manager EMPTY>
<!ATTLIST dept_manager
    dept_no CDATA #REQUIRED
    emp_no CDATA #REQUIRED
    from_date CDATA #REQUIRED
    to_date CDATA #REQUIRED
>

<!ELEMENT employees EMPTY>
<!ATTLIST employees
    emp_no CDATA #REQUIRED
    birth_date CDATA #REQUIRED
    first_name CDATA #REQUIRED
    last_name CDATA #REQUIRED
    gender CDATA #REQUIRED
    hire_date CDATA #REQUIRED
>

<!ELEMENT personas EMPTY>
<!ATTLIST personas
    id CDATA #REQUIRED
    nombre CDATA #REQUIRED
    edad CDATA #REQUIRED
    altura CDATA #REQUIRED
    sexo CDATA #REQUIRED
>

